<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<dcafs>
  <settings>
    <mode>normal</mode>
    <!-- Settings related to the telnet server -->
    <telnet port="24" title="Dummy Sensor">
      <ignore/>
    </telnet>
    <transserver port="4000">
      <default address="127.0.0.1" id="local">
        <cmd>raw:dummy</cmd>
      </default>
    </transserver>
    <taskmanager id="dicer">tmscripts\dum.xml</taskmanager>
  </settings>
  <streams>
    <!-- A local stream for the taskmanager to write to -->
    <stream id="dummy" type="local">
      <eol>crlf</eol>
	  <log>false</log>
    </stream>
  </streams>
</dcafs>
