<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<dcafs>
  <settings>
    <mode>normal</mode>
    <!-- Settings related to the telnet server -->
    <telnet port="24" title="Dummy Sensor">
      <ignore/>
    </telnet>

    <taskmanager id="dicer">tmscripts\dum.xml</taskmanager>
  </settings>
  <streams>
    <!-- A local stream for the taskmanager to write to -->
    <stream id="dummy" type="tcpserver">      
	  <log>false</log>
	  <label>system</label>
      <port>4000</port>
    </stream>
  </streams>
</dcafs>
